<%= form_for post do |f| %>
  <div>
    <%= f.label :Name %>
    <%= f.text_field :title %>
  </div>
 
  <div>
    <%= f.label :Email %>
    <%= f.text_field :body %>
  </div>
 
  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
 
  <%= f.submit %>
<% end %>