<div class="field">
<%= f.label :image %><br />
<%= f.file_field :image %>

      <a href="http://gravatar.com/emails" target="_blank">change</a>
</div>
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :description %><br />
  <%= f.text_field :description %>
</div>



